In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('makaan_Guwahati.csv')

In [3]:
df.head()

,Url,Name,price,posteddate,bhk,features,rate,amenities
0,https://www.makaan.com/listings?propertyType=a...,properties in Guwahati :Makaan.com,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.makaan.com/guwahati/builder-projec...,1260 sq ft 3 BHK 2T NorthEast facing Apartment...,44.1LEMI,Posted 16 hours ago,"3 BHK Apartment - 1,260 sq ft\nBhetapara, Guwa...",Status\nReady to move\nBathrooms\n2\nNew/Resal...,"3,500/ sq ft",Power Backup\nLift Available\n24 X 7 Security\...
2,https://www.makaan.com/guwahati/evolution-cons...,950 sq ft 2 BHK Apartment for sale at Rs 40.85...,40.85LEMI,Posted 2 months ago,2 BHK Apartment - 950 sq ft\nEvolution Chitra ...,Status\nUnder Construction\nNew/Resale\nNew\nP...,"4,300/ sq ft",Power Backup\nLift Available\n24 X 7 Security\...
3,https://www.makaan.com/guwahati/saroj-parkland...,1630 sq ft 3 BHK 3T Apartment for sale at Rs 6...,62LEMI,Posted a month ago,"3 BHK Apartment - 1,630 sq ft\nSaroj ParklandB...",Status\nUnder Construction\nBathrooms\n3\nNew/...,"3,803/ sq ft",Lift Available\nNot Available\nPower Backup\nN...
4,https://www.makaan.com/guwahati/htn-developers...,1045 sq ft 2 BHK Apartment for sale at Rs 43.8...,43.89LEMI,Posted 7 days ago,"2 BHK Apartment - 1,045 sq ft\nHTN Om PlazaKah...",Status\nUnder Construction\nNew/Resale\nNew\nP...,"4,200/ sq ft",Lift Available\nPower Backup\nNot Available\n2...

In [4]:
df = df.dropna(thresh=3)

In [5]:
df['amenities'] = df['amenities'].apply(lambda x: x.split('\n'))

### Understanding the Data

In [6]:
# This function transforms the list of lists which is the df_1["amenities"] column from 2D to 1D
def to_1D(series):
    return pd.Series([x for _list in series for x in _list])

In [7]:
to_1D(df["amenities"]).value_counts()

Not Available            1548
Gymnasium                 229
Lift Available            229
Children's play area      229
Power Backup              229
Sports Facility           229
Swimming Pool             229
Club House                229
24 X 7 Security           229
Jogging Track             229
Landscaped Gardens        229
Car Parking               194
Vaastu Compliant           55
Rain Water Harvesting      40
Maintenance Staff          28
Intercom                   13
Indoor Games               11
Staff Quarter              11
Shopping Mall               9
Hospital                    6
School                      6
Multipurpose Room           5
ATM                         5
Cafeteria                   2
Golf Course                 1
dtype: int64

In [8]:
to_1D(df["amenities"]).unique()

array(['Power Backup', 'Lift Available', '24 X 7 Security',
       'Not Available', "Children's play area", 'Club House', 'Gymnasium',
       'Swimming Pool', 'Sports Facility', 'Jogging Track',
       'Landscaped Gardens', 'Car Parking', 'Vaastu Compliant',
       'Rain Water Harvesting', 'Intercom', 'Maintenance Staff',
       'Hospital', 'School', 'Shopping Mall', 'Staff Quarter', 'ATM',
       'Cafeteria', 'Multipurpose Room', 'Indoor Games', 'Golf Course'],
      dtype=object)

### We are only keeping following amenities as they are more common and required
1. Power Backup 
2. Lift Available 
3. 24 X 7 Security
4. Children's play area 
5. Gymnasium 
6. Landscaped Gardens 
7. Car Parking 
8. Club House

In [9]:
# Appending 'Car Parking' in the data as they are missing from few raws.
# Appending as 'Not Available', considering they are not present

for i in df['amenities']:
    for j in i:
        if 'Car Parking' in i:
            pass
        else:
            i.append('Car Parking')
            i.append('Not Available')

In [10]:
## Adding "Available" to all the "amenities" which are present in the data
for j in df['amenities']:
    for k in j:
        
        if 'Not Available' != k:
            position = (j.index(k))
            w=k.split(' ')
            if 'Available' in w:
                j[position]=(' ').join(w[:-1])+'_Available'
            else:
                j[position]=k+'_Available'
        else:
            j[position]=j[position]+'_Not Available'
        
            position = (j.index(k))
            j.pop(position)
            
final=[]
for t in df['amenities']:
    l=[]
    for m in t:

        d=m.split('_')
        if d[-1]== 'Not Available' and d[-2]== 'Available':
            d.pop(-2)
        #d=(','.join(d))
        l.append(','.join(d))
    
    final.append(l)
print(final[0])

['Power Backup,Available', 'Lift,Available', '24 X 7 Security,Not Available', "Children's play area,Not Available", 'Club House,Not Available', 'Gymnasium,Not Available', 'Swimming Pool,Not Available', 'Sports Facility,Not Available', 'Jogging Track,Not Available', 'Landscaped Gardens,Not Available', 'Car Parking,Not Available']

## Adding required Columns as features

In [11]:
df['Power Backup'] = np.nan
df['Lift'] = np.nan
df['24 X 7 Security'] = np.nan
df["Children's play area"] = np.nan
df['Gymnasium'] = np.nan
df['Landscaped Gardens'] = np.nan
df['Car Parking'] = np.nan
df['Club House'] = np.nan

In [12]:
df.head()

,Url,Name,price,posteddate,bhk,features,rate,amenities,Power Backup,Lift Available,24 X 7 Security,Children's play area,Gymnasium,Landscaped Gardens,Car Parking,Club House
1,https://www.makaan.com/guwahati/builder-projec...,1260 sq ft 3 BHK 2T NorthEast facing Apartment...,44.1LEMI,Posted 16 hours ago,"3 BHK Apartment - 1,260 sq ft\nBhetapara, Guwa...",Status\nReady to move\nBathrooms\n2\nNew/Resal...,"3,500/ sq ft","[Power Backup_Available, Lift_Available, 24 X ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.makaan.com/guwahati/evolution-cons...,950 sq ft 2 BHK Apartment for sale at Rs 40.85...,40.85LEMI,Posted 2 months ago,2 BHK Apartment - 950 sq ft\nEvolution Chitra ...,Status\nUnder Construction\nNew/Resale\nNew\nP...,"4,300/ sq ft","[Power Backup_Available, Lift_Available, 24 X ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.makaan.com/guwahati/saroj-parkland...,1630 sq ft 3 BHK 3T Apartment for sale at Rs 6...,62LEMI,Posted a month ago,"3 BHK Apartment - 1,630 sq ft\nSaroj ParklandB...",Status\nUnder Construction\nBathrooms\n3\nNew/...,"3,803/ sq ft","[Lift_Available_Not Available, Power Backup_No...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.makaan.com/guwahati/htn-developers...,1045 sq ft 2 BHK Apartment for sale at Rs 43.8...,43.89LEMI,Posted 7 days ago,"2 BHK Apartment - 1,045 sq ft\nHTN Om PlazaKah...",Status\nUnder Construction\nNew/Resale\nNew\nP...,"4,200/ sq ft","[Lift_Available, Power Backup_Available_Not Av...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,https://www.makaan.com/guwahati/htn-developers...,1375 sq ft 3 BHK Under Construction property A...,57.75LEMI,Posted 7 days ago,"3 BHK Apartment - 1,375 sq ft\nHTN Om PlazaKah...",Status\nUnder Construction\nNew/Resale\nNew\nP...,"4,200/ sq ft","[Lift_Available, Power Backup_Available_Not Av...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.shape

In [ ]:
test = final

In [ ]:
np.shape(test)

In [ ]:
df['test'] = test

In [ ]:
df['test']

In [ ]:
df.info()

In [ ]:
for i in x:
    for j in i:
        if j == ',':
            i.split(',')
print(x)

In [ ]:
split_value

In [ ]:
for i in test:
    for j in i:
        print(j.split(','))

In [ ]:
print(test[0][0])
print(test[0][1])
print(test[0][2])
print(test[0][3])
print(test[0][4])
print(test[0][5])
print(test[0][6])
print(test[0][7])
print(test[0][8])
print(test[0][9])
print(test[0][10])

In [ ]:
x = []
for i in test:
    for j in i:
        splited = j.split(',')
    x.append(splited)

In [ ]:
np.shape(x)

In [ ]:
x

In [ ]:
for i in test:
    print(np.shape(i))

In [ ]:
for i in test:
    for j in i:
        j.split(',')
        print(i)

In [ ]:
amen = []

for i in final:
    for j in i:
        amen.append(i.split(','))

In [ ]:
amen

In [ ]:
y = []
for i in final:
    for j in i:
        if 'Power Backup' in j:
            print(i[i.index(j)+1])

In [ ]:
            y.append(i[i.index(j)+1])
df['Power Backup'] = y

In [ ]:
y = []
for i in final:
    for j in i:
        if 'Power Backup' in j:
            print(i[i.index(j)+1])
            y.append(i[i.index(j)+1])
df['Power Backup'] = y

In [ ]:
## Adding "Available" to all the "amenities" which are present in the data
y = []
for i in df['amenities']:
    y.append(i)
    
for j in y:
    for k in j:
        
        if 'Not Available' != k:
            position = (j.index(k))
            w=k.split(' ')
            if 'Available' in w:
                j[position]=(' ').join(w[:-1])+'_Available'
            else:
                j[position]=k+'_Available'
        else:
            j[position]=j[position]+'_Not Available'
        
            position = (j.index(k))
            j.pop(position)
            
final=[]
for t in y:
    l=[]
    for m in t:

        d=m.split('_')
        if d[-1]== 'Not Available' and d[-2]== 'Available':
            d.pop(-2)
        #d=(','.join(d))
        l.append(','.join(d))
    
    final.append(l)
print(final[0])