In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('makaan_Guwahati.csv')

In [3]:
df.head()

,Url,Name,price,posteddate,bhk,features,rate,amenities
0,https://www.makaan.com/listings?propertyType=a...,properties in Guwahati :Makaan.com,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.makaan.com/guwahati/builder-projec...,1260 sq ft 3 BHK 2T NorthEast facing Apartment...,44.1LEMI,Posted 16 hours ago,"3 BHK Apartment - 1,260 sq ft\nBhetapara, Guwa...",Status\nReady to move\nBathrooms\n2\nNew/Resal...,"3,500/ sq ft",Power Backup\nLift Available\n24 X 7 Security\...
2,https://www.makaan.com/guwahati/evolution-cons...,950 sq ft 2 BHK Apartment for sale at Rs 40.85...,40.85LEMI,Posted 2 months ago,2 BHK Apartment - 950 sq ft\nEvolution Chitra ...,Status\nUnder Construction\nNew/Resale\nNew\nP...,"4,300/ sq ft",Power Backup\nLift Available\n24 X 7 Security\...
3,https://www.makaan.com/guwahati/saroj-parkland...,1630 sq ft 3 BHK 3T Apartment for sale at Rs 6...,62LEMI,Posted a month ago,"3 BHK Apartment - 1,630 sq ft\nSaroj ParklandB...",Status\nUnder Construction\nBathrooms\n3\nNew/...,"3,803/ sq ft",Lift Available\nNot Available\nPower Backup\nN...
4,https://www.makaan.com/guwahati/htn-developers...,1045 sq ft 2 BHK Apartment for sale at Rs 43.8...,43.89LEMI,Posted 7 days ago,"2 BHK Apartment - 1,045 sq ft\nHTN Om PlazaKah...",Status\nUnder Construction\nNew/Resale\nNew\nP...,"4,200/ sq ft",Lift Available\nPower Backup\nNot Available\n2...

In [4]:
df.isna().sum()

Url            0
Name           0
price         21
posteddate    21
bhk           21
features      21
rate          21
amenities     21
dtype: int64

In [5]:
df.shape

(250, 8)

In [6]:
df = df.dropna(thresh=3)

In [7]:
df.isna().sum()

Url           0
Name          0
price         0
posteddate    0
bhk           0
features      0
rate          0
amenities     0
dtype: int64

In [8]:
df.shape

(229, 8)

In [9]:
df['features']

1      Status\nReady to move\nBathrooms\n2\nNew/Resal...
2      Status\nUnder Construction\nNew/Resale\nNew\nP...
3      Status\nUnder Construction\nBathrooms\n3\nNew/...
4      Status\nUnder Construction\nNew/Resale\nNew\nP...
5      Status\nUnder Construction\nNew/Resale\nNew\nP...
                             ...
245    Status\nReady to move\nFloor\n3rd of 4\nBathro...
246    Carpet area\n942 sq ft\nStatus\nUnder Construc...
247    Carpet area\n806 sq ft\nStatus\nReady to move\...
248    Carpet area\n807 sq ft\nStatus\nReady to move\...
249    Status\nReady to move\nFloor\n6th of 7\nBathro...
Name: features, Length: 229, dtype: object

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 229 entries, 1 to 249
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Url         229 non-null    object
 1   Name        229 non-null    object
 2   price       229 non-null    object
 3   posteddate  229 non-null    object
 4   bhk         229 non-null    object
 5   features    229 non-null    object
 6   rate        229 non-null    object
 7   amenities   229 non-null    object
dtypes: object(8)
memory usage: 16.1+ KB

In [11]:
df['features'] = df['features'].apply(lambda x: x.split('\n'))

In [12]:
df.head()

,Url,Name,price,posteddate,bhk,features,rate,amenities
1,https://www.makaan.com/guwahati/builder-projec...,1260 sq ft 3 BHK 2T NorthEast facing Apartment...,44.1LEMI,Posted 16 hours ago,"3 BHK Apartment - 1,260 sq ft\nBhetapara, Guwa...","[Status, Ready to move, Bathrooms, 2, New/Resa...","3,500/ sq ft",Power Backup\nLift Available\n24 X 7 Security\...
2,https://www.makaan.com/guwahati/evolution-cons...,950 sq ft 2 BHK Apartment for sale at Rs 40.85...,40.85LEMI,Posted 2 months ago,2 BHK Apartment - 950 sq ft\nEvolution Chitra ...,"[Status, Under Construction, New/Resale, New, ...","4,300/ sq ft",Power Backup\nLift Available\n24 X 7 Security\...
3,https://www.makaan.com/guwahati/saroj-parkland...,1630 sq ft 3 BHK 3T Apartment for sale at Rs 6...,62LEMI,Posted a month ago,"3 BHK Apartment - 1,630 sq ft\nSaroj ParklandB...","[Status, Under Construction, Bathrooms, 3, New...","3,803/ sq ft",Lift Available\nNot Available\nPower Backup\nN...
4,https://www.makaan.com/guwahati/htn-developers...,1045 sq ft 2 BHK Apartment for sale at Rs 43.8...,43.89LEMI,Posted 7 days ago,"2 BHK Apartment - 1,045 sq ft\nHTN Om PlazaKah...","[Status, Under Construction, New/Resale, New, ...","4,200/ sq ft",Lift Available\nPower Backup\nNot Available\n2...
5,https://www.makaan.com/guwahati/htn-developers...,1375 sq ft 3 BHK Under Construction property A...,57.75LEMI,Posted 7 days ago,"3 BHK Apartment - 1,375 sq ft\nHTN Om PlazaKah...","[Status, Under Construction, New/Resale, New, ...","4,200/ sq ft",Lift Available\nPower Backup\nNot Available\n2...

In [13]:
df['features'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Status, Under Construction, New/Resale, New, Price Negotiable, No]                     8
[Status, Ready to move, Bathrooms, 2, New/Resale, Resale]                               6
[Status, Ready to move, Floor, 1st of 3, Bathrooms, 2]                                  3
[Status, Under Construction, Bathrooms, 3, New/Resale, Resale]                          3
[Carpet area, 1050 sq ft, Status, Under Construction, Floor, 2nd of 3, Bathrooms, 2]    2
                                                                                       ..
[Status, Under Construction, Floor, 2nd of 2, Bathrooms, 2]                             1
[Carpet area, 1048 sq ft, Status, Ready to move, Bathrooms, 2, New/Resale, Resale]      1
[Carpet area, 1200 sq ft, Status, Under Construction, Floor, 4th, Bathrooms, 2]         1
[Carpet area, 905 sq ft, Status, Under Construction, Floor, 1st of 3, Bathrooms, 2]     1
[Carpet area, 2250 sq ft, Status, Under Construction, Floor, 7th of 8, Bathrooms, 3]    1
Name: features, Length: 199, dtype: int64

In [ ]:
#df_test = df['features']
#df_test.to_csv('df_test.csv', sep=',',encoding='utf-8', index=False)

In [14]:
for i, l in enumerate(df['features']):
    print("list",i,"is",type(l))

list 0 is <class 'list'>
list 1 is <class 'list'>
list 2 is <class 'list'>
list 3 is <class 'list'>
list 4 is <class 'list'>
list 5 is <class 'list'>
list 6 is <class 'list'>
list 7 is <class 'list'>
list 8 is <class 'list'>
list 9 is <class 'list'>
list 10 is <class 'list'>
list 11 is <class 'list'>
list 12 is <class 'list'>
list 13 is <class 'list'>
list 14 is <class 'list'>
list 15 is <class 'list'>
list 16 is <class 'list'>
list 17 is <class 'list'>
list 18 is <class 'list'>
list 19 is <class 'list'>
list 20 is <class 'list'>
list 21 is <class 'list'>
list 22 is <class 'list'>
list 23 is <class 'list'>
list 24 is <class 'list'>
list 25 is <class 'list'>
list 26 is <class 'list'>
list 27 is <class 'list'>
list 28 is <class 'list'>
list 29 is <class 'list'>
list 30 is <class 'list'>
list 31 is <class 'list'>
list 32 is <class 'list'>
list 33 is <class 'list'>
list 34 is <class 'list'>
list 35 is <class 'list'>
list 36 is <class 'list'>
list 37 is <class 'list'>
list 38 is <class 'list'>
list 39 is <class 'list'>
list 40 is <class 'list'>
list 41 is <class 'list'>
list 42 is <class 'list'>
list 43 is <class 'list'>
list 44 is <class 'list'>
list 45 is <class 'list'>
list 46 is <class 'list'>
list 47 is <class 'list'>
list 48 is <class 'list'>
list 49 is <class 'list'>
list 50 is <class 'list'>
list 51 is <class 'list'>
list 52 is <class 'list'>
list 53 is <class 'list'>
list 54 is <class 'list'>
list 55 is <class 'list'>
list 56 is <class 'list'>
list 57 is <class 'list'>
list 58 is <class 'list'>
list 59 is <class 'list'>
list 60 is <class 'list'>
list 61 is <class 'list'>
list 62 is <class 'list'>
list 63 is <class 'list'>
list 64 is <class 'list'>
list 65 is <class 'list'>
list 66 is <class 'list'>
list 67 is <class 'list'>
list 68 is <class 'list'>
list 69 is <class 'list'>
list 70 is <class 'list'>
list 71 is <class 'list'>
list 72 is <class 'list'>
list 73 is <class 'list'>
list 74 is <class 'list'>
list 75 is <class 'list'>
list 76 is <class 'list'>
list 77 is <class 'list'>
list 78 is <class 'list'>
list 79 is <class 'list'>
list 80 is <class 'list'>
list 81 is <class 'list'>
list 82 is <class 'list'>
list 83 is <class 'list'>
list 84 is <class 'list'>
list 85 is <class 'list'>
list 86 is <class 'list'>
list 87 is <class 'list'>
list 88 is <class 'list'>
list 89 is <class 'list'>
list 90 is <class 'list'>
list 91 is <class 'list'>
list 92 is <class 'list'>
list 93 is <class 'list'>
list 94 is <class 'list'>
list 95 is <class 'list'>
list 96 is <class 'list'>
list 97 is <class 'list'>
list 98 is <class 'list'>
list 99 is <class 'list'>
list 100 is <class 'list'>
list 101 is <class 'list'>
list 102 is <class 'list'>
list 103 is <class 'list'>
list 104 is <class 'list'>
list 105 is <class 'list'>
list 106 is <class 'list'>
list 107 is <class 'list'>
list 108 is <class 'list'>
list 109 is <class 'list'>
list 110 is <class 'list'>
list 111 is <class 'list'>
list 112 is <class 'list'>
list 113 is <class 'list'>
list 114 is <class 'list'>
list 115 is <class 'list'>
list 116 is <class 'list'>
list 117 is <class 'list'>
list 118 is <class 'list'>
list 119 is <class 'list'>
list 120 is <class 'list'>
list 121 is <class 'list'>
list 122 is <class 'list'>
list 123 is <class 'list'>
list 124 is <class 'list'>
list 125 is <class 'list'>
list 126 is <class 'list'>
list 127 is <class 'list'>
list 128 is <class 'list'>
list 129 is <class 'list'>
list 130 is <class 'list'>
list 131 is <class 'list'>
list 132 is <class 'list'>
list 133 is <class 'list'>
list 134 is <class 'list'>
list 135 is <class 'list'>
list 136 is <class 'list'>
list 137 is <class 'list'>
list 138 is <class 'list'>
list 139 is <class 'list'>
list 140 is <class 'list'>
list 141 is <class 'list'>
list 142 is <class 'list'>
list 143 is <class 'list'>
list 144 is <class 'list'>
list 145 is <class 'list'>
list 146 is <class 'list'>
list 147 is <class 'list'>
list 148 is <class 'list'>
list 149 is <class 'list'>
list 150 is <class 'list'>
list 151 is <class 'list'>
list 152 is <class 'list'>
list 153 is <class 'list'>
list 154 is <class 'list'>
list 155 is <class 'list'>
list 156 is <class 'list'>
list 157 is <class 'list'>
list 158 is <class 'list'>
list 159 is <class 'list'>
list 160 is <class 'list'>
list 161 is <class 'list'>
list 162 is <class 'list'>
list 163 is <class 'list'>
list 164 is <class 'list'>
list 165 is <class 'list'>
list 166 is <class 'list'>
list 167 is <class 'list'>
list 168 is <class 'list'>
list 169 is <class 'list'>
list 170 is <class 'list'>
list 171 is <class 'list'>
list 172 is <class 'list'>
list 173 is <class 'list'>
list 174 is <class 'list'>
list 175 is <class 'list'>
list 176 is <class 'list'>
list 177 is <class 'list'>
list 178 is <class 'list'>
list 179 is <class 'list'>
list 180 is <class 'list'>
list 181 is <class 'list'>
list 182 is <class 'list'>
list 183 is <class 'list'>
list 184 is <class 'list'>
list 185 is <class 'list'>
list 186 is <class 'list'>
list 187 is <class 'list'>
list 188 is <class 'list'>
list 189 is <class 'list'>
list 190 is <class 'list'>
list 191 is <class 'list'>
list 192 is <class 'list'>
list 193 is <class 'list'>
list 194 is <class 'list'>
list 195 is <class 'list'>
list 196 is <class 'list'>
list 197 is <class 'list'>
list 198 is <class 'list'>
list 199 is <class 'list'>
list 200 is <class 'list'>
list 201 is <class 'list'>
list 202 is <class 'list'>
list 203 is <class 'list'>
list 204 is <class 'list'>
list 205 is <class 'list'>
list 206 is <class 'list'>
list 207 is <class 'list'>
list 208 is <class 'list'>
list 209 is <class 'list'>
list 210 is <class 'list'>
list 211 is <class 'list'>
list 212 is <class 'list'>
list 213 is <class 'list'>
list 214 is <class 'list'>
list 215 is <class 'list'>
list 216 is <class 'list'>
list 217 is <class 'list'>
list 218 is <class 'list'>
list 219 is <class 'list'>
list 220 is <class 'list'>
list 221 is <class 'list'>
list 222 is <class 'list'>
list 223 is <class 'list'>
list 224 is <class 'list'>
list 225 is <class 'list'>
list 226 is <class 'list'>
list 227 is <class 'list'>
list 228 is <class 'list'>

In [15]:
df['features'].dtype

dtype('O')

In [16]:
# This function transforms the list of lists which is the df['features'] column from 2D to 1D
def to_1D(series):
    return pd.Series([x for _list in series for x in _list])

In [17]:
to_1D(df['features'])

0              Status
1       Ready to move
2           Bathrooms
3                   2
4          New/Resale
            ...
1701    Ready to move
1702            Floor
1703         6th of 7
1704        Bathrooms
1705                4
Length: 1706, dtype: object

In [18]:
to_1D(df['features']).value_counts()

Status         229
Bathrooms      220
Floor          193
2              176
Carpet area    166
              ...
1084 sq ft       1
1208 sq ft       1
1048 sq ft       1
1197 sq ft       1
880 sq ft        1
Length: 155, dtype: int64

In [19]:
to_1D(df['features']).unique()

array(['Status', 'Ready to move', 'Bathrooms', '2', 'New/Resale',
       'Resale', 'Under Construction', 'New', 'Price Negotiable', 'No',
       '3', 'Carpet area', '1200 sq ft', 'Floor', '1st of 4',
       '1530 sq ft', '6th of 9', '950 sq ft', '7th of 7', '1050 sq ft',
       '1st of 2', '600 sq ft', '4th of 5', '1', '1st of 5', '1350 sq ft',
       '2nd of 4', '1250 sq ft', '1001 sq ft', '1st of 3', '800 sq ft',
       '3rd of 3', '1500 sq ft', 'Gr of 2', '5th of 5', '850 sq ft',
       '990 sq ft', '844 sq ft', '1st of 7', '2nd of 3', '1460 sq ft',
       '5th of 14', '1000 sq ft', '3rd of 4', '1080 sq ft', '2nd of 8',
       '670 sq ft', '2nd of 2', '790 sq ft', '960 sq ft', '9th of 12',
       '1314 sq ft', '1138 sq ft', '6th of 6', '1300 sq ft', '2nd of 7',
       '1550 sq ft', '3rd of 7', '1150 sq ft', '2nd of 6', '1357 sq ft',
       '1304 sq ft', '5th of 9', '1st of 1', '965 sq ft', '1208 sq ft',
       '880 sq ft', '675 sq ft', '930 sq ft', '5th of 7', '1085 sq ft',
       '900 sq ft', '4th of 4', '1166 sq ft', '1400 sq ft', '1048 sq ft',
       '750 sq ft', 'Balconies', '2150 sq ft', '4', '1160 sq ft',
       '709 sq ft', 'Gr of 3', '4th of 6', 'Additional Rooms',
       '1 rooms(servant room)', '6th of 7', '720 sq ft', '1765 sq ft',
       'Age of Property', '1 - 2 years', '1562 sq ft', '3rd of 5',
       '1100 sq ft', '3rd of 8', '780 sq ft', '550 sq ft', '4th of 8',
       '2nd of 5', '2250 sq ft', '7th of 8', '6th of 8', '4th of 7',
       '1180 sq ft', '4th', '1971 sq ft', '860 sq ft', '1097 sq ft',
       '1076 sq ft', '1450 sq ft', '1054 sq ft', '5th of 6', '985 sq ft',
       '1st of 6', '1015 sq ft', '1227 sq ft', '991 sq ft', '770 sq ft',
       '840 sq ft', '693 sq ft', '978 sq ft', '766 sq ft', '360 sq ft',
       'Gr of 4', '1171 sq ft', '767 sq ft', '3rd of 6', '710 sq ft',
       '905 sq ft', '1084 sq ft', '1014 sq ft', '861 sq ft', '5th of 8',
       '835 sq ft', '839 sq ft', '846 sq ft', '1197 sq ft', '819 sq ft',
       '912 sq ft', '687 sq ft', '702 sq ft', '890 sq ft', '1025 sq ft',
       '689 sq ft', '722 sq ft', '672 sq ft', '585 sq ft', '598 sq ft',
       '1058 sq ft', '671 sq ft', '963 sq ft', '942 sq ft', '806 sq ft',
       '8th of 8', '807 sq ft'], dtype=object)

In [20]:
features_expanded_v1 = df['features'].apply(pd.Series)

In [21]:
features_expanded_v1

,0,1,2,3,4,5,6,7
1,Status,Ready to move,Bathrooms,2,New/Resale,Resale,NaN,NaN
2,Status,Under Construction,New/Resale,New,Price Negotiable,No,NaN,NaN
3,Status,Under Construction,Bathrooms,3,New/Resale,Resale,NaN,NaN
4,Status,Under Construction,New/Resale,New,Price Negotiable,No,NaN,NaN
5,Status,Under Construction,New/Resale,New,Price Negotiable,No,NaN,NaN
...,...,...,...,...,...,...,...,...
245,Status,Ready to move,Floor,3rd of 4,Bathrooms,2,NaN,NaN
246,Carpet area,942 sq ft,Status,Under Construction,Floor,2nd of 4,Bathrooms,2
247,Carpet area,806 sq ft,Status,Ready to move,Floor,8th of 8,Bathrooms,2
248,Carpet area,807 sq ft,Status,Ready to move,Floor,3rd of 8,Bathrooms,2
249,Status,Ready to move,Floor,6th of 7,Bathrooms,4,NaN,NaN

### Method II

In [22]:
def to_1D(series):
    return pd.Series([x for _list in series for x in _list])

In [23]:
unique_items = to_1D(df['features']).value_counts()

In [24]:
unique_items

Status         229
Bathrooms      220
Floor          193
2              176
Carpet area    166
              ...
1084 sq ft       1
1208 sq ft       1
1048 sq ft       1
1197 sq ft       1
880 sq ft        1
Length: 155, dtype: int64

In [25]:
features_expanded_v1.to_csv('features_expanded_v1.csv', sep=',',encoding='utf-8', index=False)

In [27]:
df.columns

Index(['Url', 'Name', 'price', 'posteddate', 'bhk', 'features', 'rate',
       'amenities'],
      dtype='object')

In [31]:
df['Status'] = np.nan
df['Carpet area'] = np.nan
df['Bathrooms'] = np.nan
df['Floor'] = np.nan
df['New/Resale'] = np.nan
df['Additional Rooms'] = np.nan
df['Balconies'] = np.nan
df['Price Negotiable'] = np.nan

In [32]:
df.columns

Index(['Url', 'Name', 'price', 'posteddate', 'bhk', 'features', 'rate',
       'amenities', 'Status', 'Carpet area', 'Bathrooms', 'Floor',
       'New/Resale', 'Additional Rooms', 'Balconies', 'Price Negotiable'],
      dtype='object')